---
http_interactions:
- request:
    method: get
    uri: https://alpha.openaddressesuk.org/addresses.json?page=1&updated_since=2015-03-19T11:23:59%2000:00
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Link:
      - <https://alpha.openaddressesuk.org/addresses.json?page=2&updated_since=2015-03-19T11%3A23%3A59+00%3A00>;
        rel="last", <https://alpha.openaddressesuk.org/addresses.json?page=2&updated_since=2015-03-19T11%3A23%3A59+00%3A00>;
        rel="next"
      Total:
      - '30'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bc1c1827a0df3b7abcdbfd7de5b812ff"'
    body:
      encoding: UTF-8
      string: '{"addresses":[{"url":"https://alpha.openaddressesuk.org/addresses/2nZkzQ","sao":null,"pao":"72","street":{"name":{"en":["OAK
        ROAD"],"cy":[]},"url":"https://alpha.openaddressesuk.org/streets/EJ7kYy"},"locality":{"name":{"en":[null],"cy":[]},"url":null},"town":{"name":{"en":["BEDFORD"],"cy":[]},"url":"https://alpha.openaddressesuk.org/towns/AU1k1z"},"postcode":{"name":"MK42
        0HJ","geo":{"latitude":-0.45282884966178016,"longitude":52.123270695342924},"url":"https://alpha.openaddressesuk.org/postcodes/P7QMD9"}},{"url":"https://alpha.openaddressesuk.org/addresses/wJtabp","sao":null,"pao":"91","street":{"name":{"en":["BEECH
        ROAD"],"cy":[]},"url":"https://alpha.openaddressesuk.org/streets/wmYIJY"},"locality":{"name":{"en":[null],"cy":[]},"url":null},"town":{"name":{"en":["HIGH
        WYCOMBE"],"cy":[]},"url":"https://alpha.openaddressesuk.org/towns/vOefJF"},"postcode":{"name":"HP11
        1SW","geo":{"latitude":-0.7[...]
[...]
